* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #F2F2F2; */
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(208, 208, 208, 1) 71%, rgba(159, 159, 159, 1) 100%);
    font-family: 'lato';
}

.container-clock {
    text-align: center;
    ;
}

.container-clock h1 {
    font-size: 10rem;
    font-weight: 400;
}

.container-clock p {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}